# postgresql
POSTGRES_USER=
POSTGRES_PASSWORD=
# supabase
JWT_SECRET=
SMTP_ADMIN_EMAIL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_SENDER_NAME=
# neo4j
NEO4J_USER=
NEO4J_PASSWORD=
# pgadmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=